*{
	padding: 0;
	margin: 0;
}

body{
	font-family: sans-serif;
}

/*设置导航栏*/
#nav{
	width: 100%;
	height: 50px;
	background-color: #BEBEBE;
	font-weight: bold;
	font-size: 1.2em;
	position: fixed;
	z-index:1;
}

#navList, #navList li{
	list-style-type: none;
	float: right;
	background-color: #AEAEAE;
}

#nav a{
	display: inline-block;
	width: 120px;
	text-align: center;
	text-decoration: none;
	color: #000;
	padding: 14px 0;
}

#nav a:hover{
	background-color: #DFDFDF;
}

/*设置首页*/
#home{
	text-align: center;
	background-color: #B2D5DB;
	padding-top: 150px;
	padding-bottom: 200px;
}

#home h1{
	color: #B3B3B3;
	text-shadow: #000 1px 1px 1px;
	font-size: 2.5em;
}

#home h3{
	margin: 0.5em 0;
	font-size: 1.5em;
}

#home hr{
	width: 90%;
	margin:auto;
	border: 0.5px solid #fff;
	opacity: 0.7;
}

#home a{
	display: inline-block;
	padding: 0.5em 1em;
	border: 2px solid #000;
	border-radius: 5px;
	background-color: #C0C0C0;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	margin: 1em 0.2em;
	box-shadow: 2px 2px 2px #555351;
}

#home a:hover{
	background-color: #000;
	padding: 0.8em 1.2em;
	color: #fff;
}

/*自我描述*/
#about{
	background-color: #B2D5cc;
	height: 500px;
}

#about #description{
	width: 60%;
	float: left;
	margin-top: 5em;
	padding-left: 2em;
}

#about #description h1{
	text-align: center;
}

#about img{
	width: 20%;
	float: left;
	border: 2px solid #000;
	border-radius: 50%;
	margin-left: 5%;
	margin-top: 5em;
}

/*作品集*/
#portfolio{
	height: 500px;
	background-color: #FDC8BA;
	padding-top: 3em;
}

#portfolio h1{
	text-align: center;
}

#portfolio #works{
	//background-color: red;
	//height: 3em;
	width: 80%;
	margin: 0 auto;
	
}

#portfolio .work{
	position: relative;
	left: 1em;
	top: 1em;
	width: 30%;
	padding-bottom: 1px;
	float: left;
	margin: 0.5em 0.5em 2em 0.5em;
	border: 1px solid #ccc;
}

#portfolio .work:hover{
	box-shadow: 5px 8px 5px #000;
}

#portfolio .work .coverImg{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#portfolio .work .workTitle{
	width: 90%;
	background-color: #000;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 1px;
	padding: 1em 5%;
	font-size: 0.6em;
}

#portfolio .work a{
	display: inline-block;
	width: 100%;
}

#portfolio .work img{
	width: 100%;
}

/*联系方式*/
#contact{
	height: 300px;
	background-color: #ccc;
	color: #000;
	font-weight: bold;
	padding: 2em;
	clear: left;
}

#contact .subContact{
	float: left;
	width: 30%;
	margin: 1%;
	background-color: #ccc;	
}

#contact #subContact1{
	width: 20%;
}

#contact #subContact2{
	width: 30%;
	margin-right: 15%;
}


#contact #subContact2 div{
	margin-bottom: 1em;
}

#contact #subContact2 .contactTitle{
	color: #666;
}

#contact a{
	color: #000;
	text-decoration: none;
}

#contact #subContact3 ul{
	list-style-type: none;
}

#contact div ul a{
	display: inline-block;
	border: 2px solid #000;
	border-radius: 5px;
	width: 10em;
	padding: 0.4em;
	margin-bottom: 0.5em;
	text-align: center;
	background-color: #C0C0C0;
	color: #000;
	box-shadow: 2px 2px 2px #555351;
	font-weight: bold;
}

#contact div ul a:hover{
	padding: 0.5em 0.7em;
	color: #fff;
	background-color: #000;
}




